---
import { Image } from "astro:assets";
import speaker from "../assets/speaker.jpg";
import attendees from "../assets/attendees.jpg";
import group from "../assets/group.jpg";
import { Icon } from "astro-icon/components";

interface Event {
  title: string;
  date: Date;
  details: string;
  registrationUrl?: string;
  locationUrl?: string;
  tags: string[];
}

const events: Event[] = [
  {
    title: "February Monthly Connect",
    date: new Date("2025-02-20T12:00:00Z"),
    details: "Join us for our February Connect Meetup at the Arnold Innovation Center in Conway from 6-8pm! This is the perfect opportunity to network with fellow tech professionals while enjoying complimentary snacks and drinks. Special thanks to Conductor for hosting us and to Arkansas Coding Academy for their generous door prize donation. Don't miss it!",
    tags: ["networking", "monthly", "free"],
    locationUrl: "https://maps.app.goo.gl/8JmnFWeyTY8VPgy9A",
    registrationUrl: "https://forms.office.com/r/feKZZwy49L",
  },
  {
    title: "March Monthly Connect",
    date: new Date("2025-03-13T12:00:00Z"),
    details:
      "Join us for our March Women+ in Tech Connect Meetup in Little Rock! This free event is a great opportunity to expand your network, meet fellow tech professionals, and enjoy complimentary snacks and drinks. Whether you're looking to share insights, gain inspiration, or just connect with like-minded women+ in tech, we’d love to see you there! Stay tuned for more details on the location—save the date and spread the word!",
    tags: ["networking", "monthly", "free"],
    registrationUrl: "https://forms.office.com/r/SM7a95K2f0",
  },
  {
    title: "April Monthly Connect",
    date: new Date("2025-04-15T12:00:00Z"),
    details:
      "Join us for our April Women+ in Tech Connect Meetup at the Creative Institute of Central Arkansas in Conway! This free event is a great opportunity to network with fellow tech professionals, share insights, and make new connections. Plus, we’ve got snacks and drinks covered! A big thank you to the Creative Institute of Central Arkansas for hosting us—we appreciate the support in bringing our community together.",
    tags: ["networking", "monthly", "free"],
    locationUrl: "https://maps.app.goo.gl/cMzixnBDMEi2M5kS8",
    registrationUrl: "https://forms.office.com/r/YjJt8CbGi4",
  },
];
---

<div
  class="flex flex-wrap text-sm justify-end gap-4 items-center -mt-2 pb-2 px-2"
>
  <a
    href="https://womenintechcentralar.org/annual-membership"
    class="font-semibold hover:underline"
  >
    Become a Member
  </a>
  <a
    href="https://womenintechcentralar.org/partnership-%26-sponsorship"
    class="font-semibold hover:underline"
  >
    Become a Sponsor
  </a>
</div>

<div class="grid gap-4">
  <h2
    class="font-bold text-2xl -mx-4 px-4 py-2 bg-white border border-y-gray-300"
  >
    Upcoming Events
  </h2>
  <div class="flex gap-4 justify-around">
    <Image
      src={speaker}
      class="object-cover max-w-96 h-64 rounded-lg shadow-sm shadow-gray-400"
      alt="A speaker at an event presenting to the audience"
    />
    <Image
      src={attendees}
      class="object-cover w-full max-w-96 h-64 rounded-lg shadow-sm shadow-gray-400 hidden sm:block"
      alt="Two attendees at an event smiling for the camera"
    />
    <Image
      src={group}
      class="object-cover max-w-96 h-64 rounded-lg shadow-sm shadow-gray-400 hidden lg:block"
      alt="A group of attendees at an event having a discussion"
    />
  </div>
  <ul
    class="grid grid-cols-[repeat(auto-fit,minmax(300px,1fr))] gap-4 bg-white -mx-4 p-4 border border-y-gray-300"
  >
    {
      events.map((event) => (
        <li class="p-4 flex flex-col gap-2 bg-black bg-opacity-5 rounded-md transition-all shadow-gray-300 shadow-inner">
          <ul class="flex gap-2 flex-wrap">
            {event.tags.map((tag) => (
              <li class="bg-white border border-gray-300 text-gray-800 text-xs px-2 py-1 rounded-sm uppercase">
                {tag}
              </li>
            ))}
          </ul>
          <h3 class="font-bold text-2xl">{event.title}</h3>
          <p class="uppercase text-xl font-thin">
            {event.date.toLocaleDateString()}
          </p>
          <p class="font-medium flex-grow">{event.details}</p>
          {(event.registrationUrl || event.locationUrl) && (
            <div class="flex gap-4 mt-4">
              {event.registrationUrl && (
                <a href={event.registrationUrl} class="button">
                  <Icon name="mdi:register" class="w-6 h-6" />
                  Register
                </a>
              )}
              {event.locationUrl && (
                <a href={event.locationUrl} class="button">
                  <Icon name="mdi:map-marker" class="w-6 h-6" />
                  Get Directions
                </a>
              )}
            </div>
          )}
        </li>
      ))
    }
  </ul>
</div>

<style>
  .button {
    @apply bg-[#100b37] text-white px-4 py-2 rounded-md flex items-center gap-2;
  }
</style>
